streamlit
langchain
langchain-community
langchain-google-genai
google-generativeai
chromadb
sentence-transformers
rank-bm25
neo4j
spacy
pymupdf
python-dotenv
scikit-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl